/* Table of Contents:
  * Basic properties
  * Layout
    - Navigation
    - Header
      - Waving Hand
    - Content
    - Footer
  * Animation
  * Responsiveness
 */


/* Colors:
  #EEE: Page Grey
  #FFF: White
  #333: Black
  #5B5: Green
  #4A4: Dark Green
*/

/* ========= BASIC PROPERTIES ========= */

.d-block {
  display: block;
}

.m-auto {
  margin: 0 auto;
}

.p-def {
  padding: 30px;
}

.align-center {
  display: flex;
  align-items: center;
}

/* ========= LAYOUT ========= */

body {
  color: #333;
  font: 400 1.2em "Roboto Mono";
  height: 100vh;
  -webkit-transition: background .5s;
     -moz-transition: background .5s;
       -o-transition: background .5s;
          transition: background .5s;
}

/* === Content === */

.main-description {
  background: #EEE;
}

.main-description p {
  padding-bottom: 30px;
  text-align: justify;
}

.side {
  width: 50%;
  padding: 50px 0;
}

.side img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.side h2 {
  text-align: center;
  font-weight: 400;
  padding: 30px 0;
  text-shadow: 2px 2px 5px #AAA;
}

.side-info p {
  padding-bottom: 10px;
}

.side-name {
  font-size: 1.5em;
  line-height: 0.8;
}

.side-info {
  line-height: 1.5;
}

/* === Navigation === */

.page-nav {
  justify-content: space-between;
  line-height: 45px;
  margin: 0 auto;
}

.nav-item {
  height: 100px;
}

.nav-about {
  font: 400 1em "Roboto Mono";
}

.menu-social {
  display: flex;
  font-size: 1.2em;
  justify-content: space-around;
  width: 250px;
}

.fa-github:hover,
.fa-github:focus,
.fa-linkedin:hover,
.fa-linkedin:focus,
.fa-flickr:hover,
.fa-flickr:focus,
.fa-envelope:hover,
.fa-envelope:focus {
  color: #0067D6;
}

/* === Header === */

.main-header h1 {
  font-weight: 800;
  font-size: 1.8em;
}

/* Waving Hand */

.emoji {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.emoji-left-sm {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.waving:hover,
.waving:focus {
  animation: 0.3s ease-in-out 2 waving;
}

/* === Footer === */

.footer {
  background: #EEE;
  text-align: center;
}

.langs-wrapper {
  margin: 0 auto;
  width: 50%;
}

.footer-langs {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.footer-langs li {
  padding: 0 50px;
}

.footer-langs a:before {
  background: url("../images/langs.svg");
  background-size: 90px;
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  margin: 5px 0;
  width: 30px;
}

.footer-langs li:nth-child(2) a:before {
  background-position-x: 60px;
}

.footer-langs li:nth-child(3) a:before {
  background-position-x: 30px;
}

.footer-copy {
  padding-bottom: 30px;
}

/* ========= ANIMATION ========= */

@keyframes waving {
  0%, 100% {
    -webkit-transform: none;
       -moz-transform: none;
         -o-transform: none;
            transform: none;
  }

  50% {
    -webkit-transform: translate(5px, -2px) rotate(20deg);
       -moz-transform: translate(5px, -2px) rotate(20deg);
         -o-transform: translate(5px, -2px) rotate(20deg);
            transform: translate(5px, -2px) rotate(20deg);
  }
}

/* ========= RESPONSIVENESS ========= */

@media only screen and (min-width: 650px) {
  .side h2 {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    justify-content: center;
  }

  .main-description {
    background: initial;
  }

  .main-content {
    max-width: 700px;
    width: 66.6666%;
  }

  .side {
    width: 33.3333%;
    max-width: 400px;
    padding: 30px 0;
    margin: 0 50px;
  }

  .side img {
    max-width: 350px;
  }

  .footer {
    display: flex;
    justify-content: center;
    background: initial;
    align-items: center;
    margin-bottom: 60px;
  }

  .langs-wrapper {
    width: 66.6666%;
    max-width: 700px;
    margin: 0;
  }

  .footer-langs  {
    background: #EEE;
    border-radius: 30px;
    margin-right: 30%;
    opacity: .5;
    padding: 15px 0;
    -webkit-transition: opacity .2s ease-out;
       -moz-transition: opacity .2s ease-out;
         -o-transition: opacity .2s ease-out;
            transition: opacity .2s ease-out;
  }

  .footer-langs li {
    padding: 0 50px;
  }

  .footer-langs:hover,
  .footer-langs:active {
    opacity: 1;
  }

  .footer-copy {
    max-width: 400px;
    padding: 0;
    width: 33.3333%;
  }
}
