/* ************************************************************* */
/* Thank you for the visiting my page                            */
/* I'm just a learner, so if you've found some errors in my code */
/* Please tell me on E-Mail or Telegram, thanks.                 */
/* ************************************************************* */

html, body {height:100%} /* Makes footer sticky */

body {
	color:#aaa;
	font-family:'Roboto', sans-serif;
	margin:0;
	min-width:780px;
}

/********* NAVIGATION *********/

nav {
	margin:0 auto;
	text-align:center;
	user-select:none;
	width:1000px;
}

header, nav ul {display:inline-block}

header img {margin:45px 150px 0 0; width:240px}

ul {
	list-style:none;
	margin:45px 0 0;
	padding:0;
}

nav li {
	float:left;
	
	transition:background .8s;
	-webkit-transition:background .8s;
	-moz-transition:background .8s;
	-o-transition:background .8s;
	/* Transition ending */
}

nav li:hover {
	background:#F5F5F5;

	transition:background .2s;
	-webkit-transition:background .2s;
	-moz-transition:background .2s;
	-o-transition:background .2s;
	/* Transition beginning */
}

nav a {
	color:#aaa;
	font-size:20px;
	text-decoration:none;
}

.nav-li-elements {
	border-left:1px solid #aaa;
	display:block;
	font-weight:100;
	height:58px;
	line-height:58px;
	width:200px;
}

.dropdown {position:relative}

.dropdown-content {
	background:#f5f5f5;
	box-shadow:0 5px 10px -5px rgba(0,0,0,.2);
	height:0;
	left:0;
	margin:0;
	opacity:0;
	padding:0 19.5px;
	position:absolute;
	visibility:hidden;
	width:161px;
	
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
}

.dropdown:hover .dropdown-content {
	visibility:visible;
	opacity:1;
	height:20px;
	padding:10px 19.5px 18px;
	
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
}

.dropdown-content a {vertical-align:middle}
/* Little better links alignment */

.dropdown li {height:20px;width:80px}
/* Fixed size for the dropdown elements */

.dropdown li:first-child {border-right:1px solid #aaa}
/* Links separator in 'links' dropdown */

.nav-elements>li:nth-child(3) {border-right:1px solid #aaa}
/* Right border for the third element of the list */

/********* TOOLTIP *********/

.tooltip {position:relative}

#tooltip-content {
	background:#000;
	border-radius:5px;
	color:#eee;
	font-family:'Roboto', sans-serif;
	font-size:13px;
	font-weight:400;
	left:50%;
	margin:0;
	opacity:0;
	padding:5px;
	position:absolute;
	top:35px;
	transform:translate(-50%);
	visibility:hidden;

	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
}

#tooltip-content::before {
	border-bottom:5px solid #000;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	content:'';
	display:block;
	left:50%;
	position:absolute;
	top:-5px;
	transform:translate(-50%);
} /* Little tooltip's triangle */

.tooltip:hover #tooltip-content {
	opacity:.7;
	top:30px;
	visibility:visible;

	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
}

/********* TEXT *********/

article {
	clear:both;
	display:table;
	margin:100px auto 0;
	min-height:100%; /* Makes footer sticky */
	width:1000px;
}

#blue-selector {color:#7DD9FF}
/* Just hover on the 'Ukraine' word below my name */

.text {display:inline-block;width:575px}

.text h1 {
	font-size:35px;
	font-weight:400;
	margin:0;
}

.text #flag::after {
	background:#338af3;
	border-bottom:10px solid #ffda44;
	content:'';
	height:10px;
	margin:13px 5px 0;
	opacity:0;
	position:absolute;
	user-select:none;
	visibility:hidden;
	width:4px;
	
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
}

.text #flag:hover::after {opacity:1;visibility:visible}

hr {border:1px solid #aaa;margin:30px 0 15px}

.text p {
	font-size:1.3em;
	font-style:italic;
	font-weight:300;
	margin:0;
	text-align:justify;
}

/********* IMAGE *********/

.image img {
	float:right;
	height:300px;
	width:300px;
}

.image {
	float:right;
	margin:0;
	text-align:right;
}

figure {
	clear:both;
	display:table;
	margin:10px 0 0;
}

figcaption {
	color:#ccc;
	position:relative;
	top:5px;
}

/********* FOOTER *********/

footer {
	background:#eee;
	height:140px;
	margin-top:-140px;
	width:100%;
	position:relative;
}

.footer-items {width:1000px;margin:0 auto}

footer p {
	display:inline-block;
	line-height:20px;
	margin:50px 0;
	text-align:center;
	width:575px; /* As the article section above */
}

.langs {
	float:right;
	height:70px;
	margin:35px 100px;
	width:100px;
}

.langs a {
	color:#aaa;
	display:block;
	height:20px;
	text-decoration:none;
}

.langs a:hover {text-decoration:underline dotted}

.langs a::before {
	background:url(/_sources/flags.svg);
	background-size:45px;
	content:'';
	display:inline-block;
	height:15px;
	position:relative;
	top:2px;
	width:15px;
}

.langs #ua {padding:5px 0}

.langs #ua::before {background-position:30px}

.langs #ru::before {background-position:15px}

footer::after {
	bottom:10px;
	color:#ccc;
	content:'Beta 1.2';
	position:absolute;
	right:10px;
	user-select:none;
}

/********* OTHER *********/

*::selection {background:#eee}

@media only screen and (max-width:1100px) {

	nav, nav ul {width:605px}

	.nav-li-elements {font-weight:400}

	header img {margin-right:0}

	article {margin:50px auto 200px;width:600px}

	.text {width:600px;}
	
	.text h1 {width:635px;}

	.image {width:600px}

	figure {margin:30px auto 0}

	.footer-items {width:600px}

	footer p {width:300px}
}