@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/Brandon\ Black.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/Brandon\ Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Slabo';
    src: url('fonts/Slabo13px-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}